PORT=4001

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=token_key
JWT_REFRESH_SECRET=token_key
JWT_ACCESS_EXPIRES_IN=xxm
JWT_REFRESH_EXPIRES_IN=xxd

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"